<!DOCTYPE html>
<html lang="pt-br" ng-app="cupom50">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Entrar | Cupom50</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="css/navbar-static-top.css" rel="stylesheet">
    <script src="js/ie8-responsive-file-warning.js"></script>
    <script src="js/ie-emulation-modes-warning.js"></script>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="assets/js/mainController.js"></script>
    <script src="assets/js/mainService.js"></script>
    <script src="assets/js/mainCore.js"></script>
</head>

<body style="background-color: #18bc9c; font-family: Candara" ng-controller="usuarioController">

<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top" style="background-color: white">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="img/logo_cupom50.png"
                                                           style="width:50%px;height:50px"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <br/>
                <li class="submenu"><a href="comofunciona.html" style="color: #18bc9c; font-size: large"><b>Como
                    Funciona</b></a></li>
                <li class="submenu"><a href="anuncie.html" style="color: #18bc9c;font-size: large"><b>Anuncie</b></a>
                </li>
                <li class="submenubotao"><a href="entrar.html" style="border: solid 2px;color: #18bc9c;font-size: large"
                                            class="btn"><b class="submenubotao">Entrar / Cadastre-se</b></a></li>
            </ul>
            <br/>
        </div>
        <br/>
    </div>
</nav>


<div class="container">
    <div class="jumbotron" style="background-color: white">
        <h1 style="color: #18bc9c" align="center">Entre Já!</h1>
        <h4 align="center">Faça seu cadastro agora mesmo!! Se já for cadastrado, faça seu login ao lado.</h4>
        <hr/>
        <div class="col-md-5">
            <h3 style="color: #18bc9c" align="center">Fazer Cadastro</h3>
            <form>
                <h4>Nome: <input class="form-control" placeholder="Seu nome.." ng-model="usuario.nome"></h4>
                <h4>E-mail: <input class="form-control" placeholder="Seu e-mail.." ng-model="usuario.email"></h4>
                <h4>Sexo: <select class="form-control" ng-model="usuario.sexo">
                    <option>Selecione</option>
                    <option>Feminino</option>
                    <option>Masculino</option>
                </select></h4>
                <h4>Cidade: <input class="form-control" placeholder="Sua cidade.." ng-model="usuario.cidade"></h4>
                <h4>Estado: <input class="form-control" placeholder="Seu estado.." ng-model="usuario.estado"></h4>
                <h4>Senha: <input type="password" class="form-control" placeholder="Sua senha.." ng-model="usuario.senha"></h4>
                <h4>Confirmar Senha: <input type="password" class="form-control" placeholder="Confirme a senha.." ng-model="usuario.confirma"></h4>
                <div class="col-md-3" id="enviar">
                    <button class="btn" style="background-color: #18bc9c; color: #ffffff" ng-click="cadastrarUsuario()">ENVIAR</button>
                </div>
                <div class="col-md-3" id="enviando" style="display: none">
                    <button class="btn" style="background-color: #18bc9c; color: #ffffff" disabled>ENVIANDO..</button>
                </div>
                <div class="col-md-12" id="respostaErro" style="display: none">
                    <p style="color: red"><b>{{respostaCadastro}}</b></p>
                </div>
                <div class="col-md-12" id="respostaSucesso" style="display: none">
                    <p style="color: #18bc9c"><b>{{respostaCadastro}}</b></p>
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <h3 style="color: #18bc9c" align="center">Fazer Login</h3>
            <form>
                <h4>E-mail: <input class="form-control" placeholder="Seu e-mail.." ng-model="email"></h4>
                <h4>Senha: <input type="password" class="form-control" placeholder="Sua senha.." ng-model="senha"></h4>

                <div class="col-md-1" id="enviarLogin">
                    <button class="btn" style="background-color: #18bc9c; color: #ffffff" ng-click="logarUsuario()">ENTRAR</button>
                </div>
                <div class="col-md-4 navbar-right">
                    <a >Esqueci a senha..</a>
                </div>
                <div class="col-md-1" id="enviandoLogin" style="display: none">
                    <button class="btn" style="background-color: #18bc9c; color: #ffffff" disabled>ENVIANDO..</button>
                </div>
                <div class="col-md-12" id="respostaErroLogin" style="display: none">
                    <p style="color: red"><b>{{respostaLogin}}</b></p>
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<footer class="modal-footer">
    <p style="color: white" align="center">2016 | Todos Direitos Reservados</p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
<script src="js/bootstrap.min.js"></script>
<script src="js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
